.header {
  margin: 20px auto;
  width: 900px;
  border: 1px solid blue;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  column-gap: 20px;
  margin-bottom: 20px;
}
